/* Html elements */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #ffffff;
	overflow: hidden;
}
main {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	padding: 1rem;
	position: relative;
}
section {
	height: 100%;
	width: 100%;

	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	/* align-items: flex-end; */
	gap: 0.35rem;

	box-sizing: border-box;
	padding-bottom: 1rem;
	padding-left: 0.1rem;
	overflow-y: scroll;
	overflow-x: hidden;

	/* Hide scrollbar */
	-ms-overflow-style: none;
	scrollbar-width: none;
}section::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}

/* Inputs */
.input {
	box-sizing: border-box;
	padding: 0.5rem;
	width: 100%;
	height: 4rem;
	border: none;
	outline: none;
	margin: 0;
	
	background: none;
	border-radius: 0 0.5rem 0.5rem 0;
	
	outline: 0.1rem solid #e0e0e0;
	border-radius: 0.5rem;
	display: inline-flex;
	flex-direction: row;
}.input > form {
	display: inline-flex;
	flex-direction: row;
	gap: 0.5rem;

	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	margin: 0;

	box-sizing: border-box;
	padding-left: 0.5rem;
}.input > form > input[type="text"].chat-input {
	font-family: "Noto Sans", sans-serif;
	font-weight: 200;

	border: none;
	outline: none;
	width: 100%;
}.input button {
	height: 100%;
	width: 4.5rem;

	outline: none;
	border: none;
	background: none;

	border-radius: 0.5rem;
	cursor: pointer;
}.input button:hover {
	background: #f5f5f5;
}.input button:active {
	background: #eaeaea;
}.input button.active {
	background: #eaeaea;
}

/* Message */
.message {
	width: 100%;
	max-width: max(calc(100% - 10rem), 20rem);
	width: max-content;

	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding: 0.35rem;
	padding-right: 1rem;

	border-radius: 0.5rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}.message > .user-profile {
	display: flex;
	justify-content: center;
	
	padding: 0 1rem;
	padding-left: 0.25rem;
	width: 3rem;
}.message > .user-profile > img {
	width: 4rem;
	height: 3.25rem;
	background: #eaeaea;

	border-radius: 5rem;
	color: transparent;
	border: 0.1rem solid #e0e0e0;
	filter: brightness(105%);
}.message > .main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}.message > .main > .content {
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	word-break: break-all;
}.message > .main > .data {
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 0.75rem;
	margin: 0;
	padding: 0;

	color: #b5b5b5;
}.message:hover {
	outline: 0.1rem solid #f6f6f6;
}

.message-splat {
	width: 100%;
	height: 100%;
	position: absolute;

	left: 0;
	top: 0;

	transform: scale(1.05) translate(-5%, -22.5%);
}.message-splat > .splat {
	background: rgb(119, 79, 55);
	position: absolute;
	border-radius: 50%;
}

/* Containers */
.topbar {
	height: 4rem;
	width: 100%;

	display: flex;
	justify-content: center;
		align-items: center;

	border-bottom: 0.1rem solid #e0e0e0;
	padding: 0;
}.topbar > button {
	outline: none;
	border: none;

	height: 100%;
	width: 14rem;

	background: #fff;
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: #999;

	transition: background 0.05s ease-in-out;
}.topbar > button.active {
	color: #333;
	border-bottom: 0.2rem solid rgb(82, 131, 200);
}.topbar > button:hover {
	background: #f5f5f5;
}.topbar > button:active {
	background: #eaeaea;
}

/* Account details */
form.account-details {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}form.account-details > input {
	height: 3rem;
	width: 100%;
	max-width: 30rem;

	font-family: "Noto Sans", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	color: #333;

	border: none;
	outline: none;
	border-bottom: 0.1rem solid #e0e0e0;
}.account-details > input:focus {
	border-bottom: 0.1rem solid rgb(82, 131, 200);
}.account-details > input::placeholder {
	color: #b5b5b5;
}form.account-details > input[type="password"]:last-of-type {
	border-bottom: none !important;
}.account-details > input[type="submit"] {
	height: 3rem;
	width: 100%;
	max-width: 30rem;
	margin-top: 2rem;

	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: #fff;

	border: none;
	outline: none;
	border-radius: 0.5rem;
	background: rgb(82, 131, 200);

	transition: background 0.05s ease-in-out;
}.account-details > input[type="submit"]:hover {
	background: rgb(82, 131, 200, 0.8);
}.account-details > input[type="submit"]:active {
	background: rgb(82, 131, 200, 0.6);
}

/* Attachments */
.attachments {
	width: 24rem;
	height: 12rem;
	position: absolute;

	background: #fff;
	bottom: 6rem;
	border-radius: 0.5rem;
	border: 0.1rem solid #e0e0e0;
	overflow: hidden;
}.attachments > .tab-bar {
	width: 100%;
	height: 2rem;

	display: flex;
	flex-direction: row;
	justify-content: center;
		align-items: center;
	overflow: hidden;

	border-bottom: 0.1rem solid #f0f0f0;
}.attachments > .tab-bar > button {
	outline: none;
	border: none;

	height: 100%;
	width: 50%;

	background: #fff;
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: #999;

	transition: background 0.05s ease-in-out;
}.attachments > .tab-bar > button.active {
	color: #333;
	border-bottom: 0.2rem solid rgb(82, 131, 200);
}.attachments > .tab-bar > button:hover {
	background: #f5f5f5;
}.attachments > .tab-bar > button:active {
	background: #eaeaea;
}

/* Gif window */
.gifs {
	height: 100%;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}.gifs > form > input.search {
	height: 2rem;
	width: 100%;
	max-width: 24rem;

	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: #333;

	border: none;
	outline: none;
	border-bottom: 0.1rem solid #e0e0e0;

	box-sizing: border-box;
	padding: 0 0.5rem;
}.gifs::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}.gif-container {
	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         3;
	column-gap:           0px;

	gap: 0.5rem;
	box-sizing: border-box;
	padding: 0.5rem;
}.gif-container > .gif-item {
	border-radius: 0.5rem;
	border: 0.1rem solid #e0e0e0;
	width: 100% !important;
	height: auto !important;

	margin-bottom: 0.5rem;
}


/* Watermark */
.watermark {
	width: 20rem;
	height: 20rem;
	opacity: 0.03;
	user-select: none;
	pointer-events: none;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	position: absolute;
}